<!DOCTYPE html>
<!--
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Scam Prevention Portal</title>
    <link rel="stylesheet" href="Static/css/style.css">
    <script src="Static/js/script.js"></script>
</head>
<body>
    <header>
        <h1>Scam Prevention Portal</h1>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="scenarios.html">Scenarios</a></li>
                <li><a href="overview.html">Scams Overview</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="ai.html">AI Scams</a></li>
                <li><a href="videosection.html">Video Section</a></li>
                <li><a href="feedback.html">Feedback Section</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="main-container">
            <h1 class="title">STOP, THINK, READ</h1>
            <div class="content">
                <img src="Static/Images/FrontPage.jpg" alt="FrontCover">
                <div class="text-box">
                    <h2>Let me ask you...</h2>
                    <ul>
                        <li>Are you being asked for personal or financial information?</li>
                        <li>Are you being pressured to make a quick decision?</li>
                        <li>Unlock the scam detector superpower and safeguard yourself!</li>
                    </ul>
                    <p>You are in the right place for essential tips to protect against scammers.</p>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <p>© 2024 Senior Scam Safety. All rights reserved.</p>
    </footer>
</body>
</html>
