{% extends "base.html" %}

{% block content %}
<div class="main-container">
    <h1 class="title">STOP, THINK, READ</h1>
    <div class="content">
        <img src="{{ url_for('static', filename='images/FrontPage.jpg') }}" alt="FrontCover">
        <div class="text-box">
            <h2>Let me ask you...</h2>
            <ul>
                <li>Are you being asked for personal or financial information?</li>
                <li>Are you being pressured to make a quick decision?</li>
                <li>Unlock the scam detector superpower and safeguard yourself!</li>
            </ul>
            <p>You are in the right place for essential tips to protect against scammers.</p>
        </div>
    </div>
</div>
{% endblock %}
