<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - Scam Prevention Portal</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/script.js"></script>
</head>
<body>
    <header>
        <h1>Scam Prevention Portal</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="scenarios.html">Scenarios</a></li>
                <li><a href="overview.html">Scams Overview</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="ai.html">AI Scams</a></li>
                <li><a href="videosection.html">Video Section</a></li>
                <li><a href="feedback.html">Feedback Section</a></li>
            </ul>
        </nav>
    </header>
    <main>
<div class="Jane-result-container">
    <h2>You Are Safe!</h2>
    <div class="jane-result-details">
        <p>Jane was able to verify the end of your contract date and the last 4 digits of your banking card this heightens her legitimacy.</p>
        <p>She was patient, not pressuring you into making quick decisions.</p>
        <p>You are aware of all your current subscriptions and were expecting a call from the company.</p>
        <p>You have verified her phone number and it matches the contact details of a legitimate phone company.</p>
        <p>She did not ask for bank details, legitimate companies never ask for bank details over the phone.</p>
    </div>
    <h3>Did you guess right?</h3>
</div>
<!-- Back to Home Button -->
<div class="back-home">
    <button onclick="location.href='{{ url_for('home') }}'" class="button back-home-button">Back to Home</button>
</div>
	<script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
