<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback - Scam Prevention Portal</title>
    <link rel="stylesheet" href="static/css/style.css">
    <script src="static/js/script.js"></script>
</head>
<body>
    <header>
        <h1>Scam Prevention Portal</h1>
        <nav>
            <ul>
                <li><a href="home.html">Home</a></li>
                <li><a href="scenarios.html">Scenarios</a></li>
                <li><a href="overview.html">Scams Overview</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="ai.html">AI Scams</a></li>
                <li><a href="videosection.html">Video Section</a></li>
                <li><a href="feedback.html">Feedback Section</a></li>
            </ul>
        </nav>
    </header>
    <main>
<div class="mark-result-container">
    <h2>It's A Scam!</h2>
    <div class="mark-result-details">
        <p>If you receive a call from a company that you haven't contacted, do some research before providing any personal or financial information.</p>
        <p>Check the phone number! They have called you before and it's associated with a known scam organisation.</p>
        <p>A genuine salesperson would never ask for personal details such as power of attorney.</p>
        <p>Stay up to date with your subscriptions. This will help you spot scammers and reduce your chances of being fooled.</p>
        <p>Be cautious, personal information alone doesn't guarantee authenticity.</p>
    </div>
    <h3>Did you guess right?</h3>
</div>
<!-- Back to Home Button -->
<div class="back-home">
    <button onclick="location.href='{{ url_for('home') }}'" class="button back-home-button">Back to Home</button>
</div>
<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
