{% extends 'base.html' %}

{% block content %}
<div class="scenario-cover">
    <h2>Welcome to Our Scenario-Based Learning</h2>
    <p>You are about to engage in a series of interactive scenarios that will help you understand and navigate various common scams. These scenarios are designed based on primary data collection and include situations related to landline calls and emails, two frequent mediums through which scams are perpetrated.</p>
    <p>Each scenario will present a situation, and you'll have the choice to decide how you might respond. This exercise aims to enhance your awareness and decision-making skills in real-life situations where you might encounter potential scams.</p>
    <a href="{{ url_for('scenarios') }}" class="button">Start Scenarios</a>
</div>
{% endblock %}
